<footer class="footer footer-center p-10 text-gray-100 bg-gradient-to-r from-amber-500 to-pink-500 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <a href="/about-us/" class="link link-hover">About Us</a>
    <a href="/contact-us/" class="link link-hover">Contact Us</a>
    <a href="/privacy-policy/" class="link link-hover">Privacy</a>
    <a href="/disclaimer/" class="link link-hover">Disclaimer</a>
  </nav> 
  <nav>
     <div class="flex flex-col items-center justify-between mt-6 md:flex-row">
        <div><a href="/" class="text-xl font-bold">Car Parking Multiplayer</a></div>
</div>
  </nav> 
  <aside>
    <p>© 2023 - Car Parking Multiplayer - All rights reserved</p>
  </aside>
</footer>
